<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD MAPPER 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.imooc.bilibili.mapper.UserInfoMapper">



    <select id="batchGetUserInfoByUserIds" resultType="com.imooc.bilibili.domain.UserInfo">
        select
        *
        from
        t_user_info
        where
        userId in
        <foreach collection="userIdList" item="userId" open="(" close=")" separator=",">
            #{userId}
        </foreach>
    </select>

</mapper>